body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: sans-serif;
}

h1, p {
    margin: 0;
}

/* -----Typography------ */

/* ------------- */

.header {
    text-align: center;
    padding: 5%;
    letter-spacing: .1em;
    text-shadow: 1px 1px gray;
    border-bottom: .5px solid #1488CC;
    font-size: .9rem;
    font-weight: bolder;
    font-family: monospace;
    border-image: linear-gradient(to left, #1488cc, black, #1488cc) 1;
}

.footer {
    padding: 30px 30px;
    background: whitesmoke;
    text-align: center;
    font-size: .6rem;
    color:darkgray;
}

.container {
    height: 90vh;  
    display: flex;
    flex-direction: column;
}

.nav {
    margin-top: auto;
    display: flex;
    justify-content: space-around;
    border-top: .5px solid #1488CC;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: .6em 2em 1em 2em;
    top: 15px;
    order: fixed;
}

.link {
    text-decoration: inherit;
    color: inherit;
    font-size: 1.5rem;
}

.link:focus {
    color: #1488CC;
    border: 1px solid white;
    border-radius: 50%;
    padding: 5px;  
    box-shadow: 1.5px 1.5px 1.5px 1.5px rgba(35, 31, 32, .1);
}


.home {
    height: 80%;
    text-align: center;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 1px solid red; */
}

.instructions {
    text-align: left;
    color: black;
    background: rgba(174, 234, 255, .1);
    border-radius: 10px;
    padding: 5px;
    
}

#title {
    font-size: 1.2rem;
    letter-spacing: .1em;
    text-shadow: 1px 1px gray;

}

li {
    margin-top: 16px;
    font-size: 1.2em;
}

#upload {
    display: none;
}

label {
    /* margin-top: 60%; */
    font-size: 1.5rem;
    color: #1488CC;
    font-weight: bold;
}

.submit {
    margin-top: 15px;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1.5rem;
    font-weight: bolder;
    color: #1488CC;
    padding: 5px;
    letter-spacing: .07em;
    border-radius: 100px;
    border-color: #1488CC;
    background: white;
    
}

.submit:hover:focus {
    color: #1488CC;
}

/* ---------------------CARDS PAGE------------------------------------------- */

.card {
    margin: 10% 14% 0 14%;
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    padding: 25px 15px;
    text-align:justify;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 1.5px 1.5px 1.5px 1.5px rgba(35, 31, 32, .1);
    background: white;
}

.card:hover {
    transform: scale(1.1);
    border-color: #1488CC;
}


.card p {
    margin-top: 5px;
}

.side {
    width: 40px;
    height: 90px;
    background: #1488CC;
}

.cardSeparator {
    border-top: 1px solid #1488CC;
    width: 16%;
    margin: 10% auto;
}

/* -------------Confirm Details page--------------------- */

.confirmContainer {
    width: 75%;
    margin: 0 auto;
    margin-top: 40%;
    font-size: 1rem;
}

.car {
    margin-top: 20px;
}

.date {
    margin-top: 10px;
}


.btn-confirm {
    font-size: 1.5rem;
    font-weight: bolder;
    color: #1488CC;
    padding: 5px;
    letter-spacing: .07em;
    border-radius: 100px;
    border-color: #1488CC;
    background: white;
    margin-top: 60px;
    margin-left: 25%;
    padding: 10px;
}